# Ubuntu kernel snapcraft pull sources script
# Rendered by snapcraft ubuntu-kernel plugin.
# ----
env

{% if ubuntu_kernel_use_binary_package %}

    {% if is_cross_compiling %}
        echo \
            "deb [arch={{ target_arch }}] http://ports.ubuntu.com/ubuntu-ports \
        {{ ubuntu_kernel_release_name }} main restricted universe multiverse" >> /etc/apt/sources.list.d/{{ ubuntu_kernel_release_name }}_ports.list
        {% if apt_suite != ubuntu_kernel_release_name %}
        echo \
            "deb [arch={{ target_arch }}] http://ports.ubuntu.com/ubuntu-ports \
        {{ apt_suite }} main restricted universe multiverse" >> /etc/apt/sources.list.d/{{ ubuntu_kernel_release_name }}_ports.list
        {% endif %}
    {% elif apt_suite != ubuntu_kernel_release_name %}
        echo \
            "deb http://archive.ubuntu.com/ubuntu \
        {{ apt_suite }} main restricted universe multiverse" >> /etc/apt/sources.list.d/{{ ubuntu_kernel_release_name }}_archive.list
    {% endif %}

    apt-get update

    echo "Kernel ABI: {{ kernel_abi }}"
    apt download linux-image-{{ kernel_abi }}-{{ ubuntu_kernel_flavour }}:{{ target_arch }}
    apt download linux-modules-{{ kernel_abi }}-{{ ubuntu_kernel_flavour }}:{{ target_arch }}
    # modules-extra is not available for all kernels, e.g. xilinx
    if apt-cache show linux-modules-extra-{{ kernel_abi }}-{{ ubuntu_kernel_flavour }}:{{ target_arch }} 2>/dev/null | grep -q "^Package:"; then
        apt download linux-modules-extra-{{ kernel_abi }}-{{ ubuntu_kernel_flavour }}:{{ target_arch }}
    else
        echo "linux-modules-extra-{{ kernel_abi }}-{{ ubuntu_kernel_flavour }} not available, skipping"
    fi
    apt download linux-firmware

{% else %}
    git clone --depth=1 --branch=master-next {{ source_repo_url }} .
{%  endif %}
